@font-face {
  font-family: "Comic Sans";
  src: url(../font_comic_sans_ms/comic.ttf);
}

@font-face {
  font-family: "Comic Sans";
  font-weight: bold;
  src: url(../font_comic_sans_ms/comicbd.ttf);
}

@font-face {
  font-family: "Comic Sans";
  font-style: italic;
  src: url(../font_comic_sans_ms/comici.ttf);
}

@font-face {
  font-family: "Comic Sans";
  font-weight: bold;
  font-style: italic;
  src: url(../font_comic_sans_ms/comicz.ttf);
}
