@font-face {
  font-family: "Comic Sans";
  src: url(../../assets/fonts/comic.ttf);
}

@font-face {
  font-family: "Comic Sans";
  font-weight: bold;
  src: url(../../assets/fonts/comicbd.ttf);
}

@font-face {
  font-family: "Comic Sans";
  font-style: italic;
  src: url(../../assets/fonts/comici.ttf);
}

@font-face {
  font-family: "Comic Sans";
  font-weight: bold;
  font-style: italic;
  src: url(../../assets/fonts/comicz.ttf);
}
